
<% include ./partials/header %>

<div class="just mx-auto jumbotron">  
    <p class="text-uppercase display-4"> <%=car.make %> <%=car.model %> </p>

    <img src="<%=car.image %>" width="30%" class="mb-5">
    <a href="/">Go Back home</a>
    <h1> <%=car.description %> </h1>

    <div class="btngroup">
        
        <a href="/cars/<%= car.id %>/edit" class="display-4 btn btn-info mybutton">Edit this Car?</a>

        <form action="/cars/<%= car.id %>?_method=DELETE" method="POST" class="mysize">
            <button class="btn btn-danger mybutton ">DELETE
            </button>
        </form>
    </div>
</div>

<% include ./partials/footer %>